<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.kotlinstudy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".base.MyAppliction"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".view.slide.TestSlideViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".savedata.SaveDataActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".MainTestActivity">

        </activity>
        <activity android:name=".basic_study.ColorViewActivity" />
        <activity android:name=".basic_study.AboutMeActivity" />
        <activity android:name=".basic_study.MainActivity01_2" />
        <activity android:name=".word_list.NewWordActivity" />
        <activity android:name=".word_list.WordActivity" />
        <activity android:name=".Login.LoginActivity" />
    </application>

</manifest>